################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/solution2/.vs/ProjectEvaluation/solution2.strings.v10.bin
